body{
    background-color: #FFD07B;
}

h1{
    font-family: "Berkshire Swash";
}

p{
    font-family: "Montserrat";
}

#header{
    display: flex;
    width: 100%;
    height: 10%;
    flex-direction: row;
    background-image: linear-gradient(to bottom, #DC4E00, #FF964C);
}