body{
    background-color: #FFD07B;
    margin: 0;
}

h1{
    font-family: "Berkshire Swash";
    background-image: linear-gradient(to bottom, #F46800, #FFB200);
    background-clip: text;
    color: transparent;
    margin-left: 2rem;
}

p{
    font-family: "Montserrat";
}

.header_link{
    font-family: "Montserrat";
    font-size: 1.75vw;
    font-weight: 600;
    color: #FFB200;
    transition: all 0.1s ease-in;
    margin: 0;
}

.header_link:hover{
    color: #F46800;
}

#rules{
    text-align: left;
    align-items: center;
    font-size: 1.25rem;
    margin: 2rem;
}

#title{
    font-family: "Berkshire Swash";
    font-size: 3vw;
    width: fit-content;
    height: fit-content;
    padding: 1.25rem;
    background-image: linear-gradient(to bottom, #F46800, #FFB200);
    background-clip: text;
    -webkit-text-stroke: 1px #862f004f;
    color: transparent;
    /*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);*/
    margin: 0;
}

#header{
    display: flex;
    margin: 0;
    width: 100%;
    min-height: 10%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem 0 2rem;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom, #DC4E00, #FF964C);
}

#pairs{
    display: grid;
    grid-template-columns: repeat(10, 120px);
    grid-template-rows: repeat(2, 170px); 
    gap: 10px;
    width: fit-content;
    align-self: center;
    margin: 2rem;
}

.card{
    width: 120px;
    height: 170px;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    transition: all 0.2s ease-in-out;
}

.card:hover{
    transform: scale(1.1);
}